String format

In [4]:
name = "Anitha"
age = 21

print("{} is {} years old".format(name,age))

Anitha is 21 years old

In [5]:
print(f'{name} is {age} years old')

Anitha is 21 years old

In [6]:
print(b'anitha')

b'anitha'

In [7]:
print('%s is %d year old' % (name, age))

Anitha is 21 year old

In [9]:
print(f'{name:10s} is {age:.2f} year old')

Anitha     is 21.00 year old

In [12]:
print(1,2,3, sep=':', end='-')
print(4,5,6, sep=':')
print(7,8,9)

1:2:3-4:5:6
7 8 9

Built-in fn

In [13]:
sum(range(10))

45

In [19]:
sum = 6+7

In [20]:
sum

13

In [21]:
del sum
# delete sum

for loop

In [30]:
for elm in range(2,100,3):
    if not elm % 13 and not elm % 3:
        #multiple of 39 = 13*3
        break
    if not elm % 5:
        continue
    print(elm, end=" ")
else:
    print('No break')

2 8 11 14 17 23 26 29 32 38 41 44 47 53 56 59 62 68 71 74 77 83 86 89 92 98 No break

In [31]:
#string
sent = 'I love Python, because it\'s easy'

In [32]:
sent.capitalize()

"I love python, because it's easy"

In [33]:
sent.casefold()

"i love python, because it's easy"

In [36]:
sent.center(50, '*')

"*********I love Python, because it's easy*********"

In [38]:
sent.count('P')

1

In [39]:
sent.encode()

b"I love Python, because it's easy"

In [43]:
sent.endswith('sy')

True

In [44]:
sent.expandtabs()

"I love Python, because it's easy"

In [45]:
'Anitha\tBenny'.expandtabs()

'Anitha  Benny'

In [46]:
sent.find('ea')

28

In [47]:
sent.index('a')

18

In [48]:
sent.islower()

False

In [49]:
'   Anitha     '.strip()

'Anitha'

In [51]:
'  Anitha    '.lstrip()

'Anitha    '

In [53]:
'   anitha    Benny   '.strip()

'anitha    Benny'

to remove space in between

In [56]:
words = '   anitha    benny'.split()

In [58]:
words

['anitha', 'benny']

In [57]:
" ".join(words)

'anitha benny'

#Functions

In [59]:
def add(a,b):
    return a+b

add(4,5)

9

Annotations

In [67]:
def add(a: int, b: int) -> int:
    #type hint
    return(a+b)

add('1','2')

'12'

In [65]:
add(1,2)
#positional calling

3

In [68]:
add(a=1, b=2)
# keyword calling

3

In [69]:
def add(a, /, b=5): # a is defined as positional only by adding '/' 
    #omitting b as b have default value
    return a+b

In [70]:
add(a=1,b=2)

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

henec a is positional we can't give it a keyword value

In [71]:
add(1)

6

here 1+5 is done sine b=5

In [72]:
def add(a, *, b=5):
    #anything comes after * is positional otherwise keywordS
    return a+b

In [77]:
add(9,b=1)

10

In [78]:
def add(a, /,c,*, b):
    return a+b+c

In [80]:
add(1,2, b=5)

8

In [81]:
def fn(a, /, b, *c, d, **e):
    print('Positional Only:',a)
    print('Normal:',b)
    print('Variable positional:',c)
    print('keyword Only:', d)
    print('Variable Keyword:', e)

In [82]:
fn(1,2,d=5)

Positional Only: 1
Normal: 2
Variable positional: ()
keyword Only: 5
Variable Keyword: {}

In [83]:
fn(1,2,3,4,5,6,d=5, f=6, g=7, r=8)

Positional Only: 1
Normal: 2
Variable positional: (3, 4, 5, 6)
keyword Only: 5
Variable Keyword: {'f': 6, 'g': 7, 'r': 8}

In [84]:
def fn(*args, **kwargs):
    print(args, kwargs)

In [85]:
fn(1,2,3,4,a=1, b=2, c=3,d=4)

(1, 2, 3, 4) {'a': 1, 'b': 2, 'c': 3, 'd': 4}

#Scope of Variables

In [91]:
x = 'global'

def outer():
    def inner():
        y = 'local'
        print(y)
    inner()
    print(x)
    print(y)
outer()
print(x)

local
global
local
global

Anonymus fn using lamba.

In [92]:
f = lambda x : x ** 2
f(10)

100

In [93]:
f = lambda x , y : x ** y
f(10,2)

100

only single statement if using lambda

In [108]:
def my_range(num):
    for n in range(num):
        yield

In [111]:
def exam(var):
    ''' Examine any object's type, id, value'''
    print("Type:", type(var))
    print("ID:",id(var))
    print("Value:", var)

In [118]:
exam(f)

Type: <class 'generator'>
ID: 2068383736208
Value: <generator object my_range at 0x000001E195472190>

In [123]:
f = my_range(10)

here F is a generator as it uses yield

Only once a generator can be used. After it is exhausted

In [130]:
for n in f:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [135]:
f = (n for n in range(10))

In [136]:
exam(f)

Type: <class 'generator'>
ID: 2068395352672
Value: <generator object <genexpr> at 0x000001E195F86260>

In [132]:
f = [n for n in range(10)]

In [133]:
exam(f)

Type: <class 'list'>
ID: 2068394654336
Value: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
next(f)

0

In [138]:
tuple(f)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Matrix Transpose

In [145]:
m = [
     [1,2,4],
     [5,6,7],
     ]
[[row[i] for row in m] for i in range(3)]

[[1, 5], [2, 6], [4, 7]]

In [146]:
t=(1,)
exam(t)

Type: <class 'tuple'>
ID: 2068378401760
Value: (1,)

In [147]:
def multiplier(n):
    return lambda x: x* n

doubler = multiplier(2)
doubler(5)

10

In [148]:
tripler = multiplier(3)
tripler(5)

15

In [1]:
import circle as ci

In [2]:
ci.area(6)

113.09733552923255

In [6]:
ci.circum(5)

31.42

In [7]:
from circle import area

In [8]:
area(9)

254.46900494077323

User Inputs

In [11]:
age = int(input('Enter age:'))

In [12]:
age

21

BUILT-N FNS

In [13]:
all([1,2,4,5])

True

In [14]:
all([1,2,0,5])

False

In [15]:
divmod(10,4)

(2, 2)

In [16]:
eval("2*3")

6

In [18]:

list(enumerate([1,2,3,4]))

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [19]:
fruits = ['apple','banana']
for i, v in enumerate(fruits):
    print(i,v)

0 apple
1 banana

In [24]:
marks = [24,56,78]

list(filter(lambda x: (x/50 * 100) > 70,marks))

[56, 78]

In [25]:
isinstance(5, int)

True

In [26]:
min(marks)

24

In [38]:
max(marks)

78

In [40]:
list(map(lambda x : round(x / 25 * 100,2),marks))

[96.0, 224.0, 312.0]

In [41]:
ord('.')

46

In [42]:
list(reversed(marks))

[78, 56, 24]

In [43]:
sorted(marks)

[24, 56, 78]

In [44]:
subjects = ['maths','physics','chemistry','biology','computer']

In [46]:
list(zip(marks, subjects))

[(24, 'maths'), (56, 'physics'), (78, 'chemistry')]

In [47]:
zip?

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [101]:
from functools import reduce

In [103]:
reduce(lambda x, y: x * y, marks)

104832

Q41

In [53]:
def freq(stg):
    freq_dict = {}
    for char in stg:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    return freq_dict

inp = "anitha"
print(freq(inp))

{'a': 2, 'n': 1, 'i': 1, 't': 1, 'h': 1}

Q42

In [60]:
def sort_key(**kwargs):
    return sorted(kwargs)

sampel = sort_key(name = 'Anitha', age = 21, salary = 24000)
print(sampel)

['age', 'name', 'salary']

Q43

In [65]:
def fistfn(secfn, lst):
    return [secfn(x) for x in lst]  

def secfn(n):
    return n + 2

a = [1,2,4,5]

print(fistfn(secfn,a))

[3, 4, 6, 7]

Q44

In [66]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))

55

Q45

In [74]:
def secElmt(tuple_lst):
    return [tup[1] for tup in tuple_lst]
a = [(1,2) , (3 , 4), (5 , 6)]
print(secElmt(a))

[2, 4, 6]

LAMBDA FNS

Q46

py pgm to filter a lst of int, keep only those are divisible by cert. no. using lambda fn

In [85]:
x = [1,2,4,5,6,7,8,9,10]
list(filter(lambda x: (x % 2 == 0),x))

[2, 4, 6, 8, 10]

Q47
py fn uses lambda to sort a list of dict by spec. key

In [91]:
def sort_dicts_by_key(dict_list, key):
    return sorted(dict_list, key=lambda x: x[key])

data = [
    {'name': 'A', 'age': 30},
    {'name': 'B', 'age': 25},
    {'name': 'C', 'age': 35},
]

sorted_data = sort_dicts_by_key(data, 'age')
print(sorted_data)

[{'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]

Q48 py script that applies lambda fn to square all elemets

In [96]:
a = [1,2,3,4]
result = list(map(lambda x : x ** 2,a))
print(result)

[1, 4, 9, 16]

Q49
py fn that uses lambda fn to find out max value in a list of tup,es based on sec. elmt

In [100]:
def maxVal(tuple_lst):
    return max(tup[1] for tup in tuple_lst)
a = [(1,2,4) , (3 , 4,5), (5 , 6,1)]
print(maxVal(a))

6

Q50
py pgm that uses a lambda fn to combine 2 list element wise

In [106]:
x = [1,2,3]
y = [4,5,6]
res = list(map(lambda x: str(x[0]) + str(x[1]), zip(x, y)))
print(res)

['14', '25', '36']

Q51
scipt using map() to convert a list of strings to uppercase

In [112]:
lst = ["a" , "b" , "c"]
reslt = list(map(lambda x : x.upper(),lst))
print(reslt)

['A', 'B', 'C']

Q52
use filter to extract even nos from list

In [113]:
x = [1,2,4,5,6,7,8,9,10]
list(filter(lambda x: (x % 2 == 0),x))

[2, 4, 6, 8, 10]

Q53
py fn that use reduce() to compute the pdt of a list of nos

In [118]:
from functools import reduce

def pdt_list(lst):
    return reduce(lambda x , y : x * y ,lst) 

lst = [1,2,8,2]
print(pdt_list(lst))

32

Q54
use map() to calc. sq root of list of nos

In [122]:
lst = [100,81,64,36]
reslt = list(map(lambda x: x ** .5, lst))
print(reslt)

[10.0, 9.0, 8.0, 6.0]

Q55 
use filter() to remove all empty strings from list

In [127]:
lst = ["hello" , "I'am" , "" , "" , "Anitha"]
lstUp = list(filter(lambda x: x.strip()!="",lst))
print(lstUp)

['hello', "I'am", 'Anitha']

LIST & DICT COmprehension

Q56
 py pgm to create a dict from two list using dict comprehension

In [135]:
def create_dict(a,b):
    return {a[i]: b[i] for i in range(len(a))}
a = [1,2,3]
b = ['a' , 'b' , 'c']
print(create_dict(a,b))

{1: 'a', 2: 'b', 3: 'c'}

Q57
py fn to create a list of tuples from 2 list,  with first list as first element and second list as sec element

In [138]:
def create_tpl(a,b):
    return list((a[i], b[i]) for i in range(len(a)))
a = [1,2,3]
b = ['a' , 'b' , 'c']
print(create_tpl(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

Q58
py script  that generates a dictionary where are the integers as key and the values are their squares, but only included keys that are even

In [148]:
def creat_dict(a):
    return {num: num ** 2 for num in a if num % 2 == 0}
    
a = [1,2,3,4,5]
print(creat_dict(a))

{2: 4, 4: 16}

Q59
py pgm to create a list of length of words in a given sentence usin list comprehension

In [157]:
def len_words(b):
    return [len(x) for x in b]

b = ['apple' , 'banana' , 'cherry']
print(len_words(b))

[5, 6, 6]

Q60
py fn that generates a dict of chars and their counts from a given string using dict. comprehenson

In [161]:
def creat_dict(a):
    return {char : a.count(char) for char in a}
    
a = "APPLE"
print(creat_dict(a))

{'A': 1, 'P': 2, 'L': 1, 'E': 1}

Q64
 py fn take variable no of positonal arguments and return their pdt

In [170]:
def add(*args):
    product = 1
    for num in args:
        product *= num  # Multiply each positional argument
    return product

result = add(1, 2, 4)
print(result)

8

py fn take variable no of positonal arguments and return their sum

In [171]:
def add(*args):
    sum = 0
    for num in args:
        sum += num  # Multiply each positional argument
    return sum

result = add(1, 2, 4)
print(result)

7

In [179]:
def vowel(a):
    vowels = 'aeiouAEIOU'
    return {char : a.count(char) for char in vowels if char in a}

a = "apple"
print(vowel(a))

{'a': 1, 'e': 1}