In [12]:
def exam(var):
    ''' Examine any object's type, id, value'''
    print("Type:", type(var))
    print("ID:",id(var))
    print("Value:", var)

In [13]:
help(exam)

Help on function exam in module __main__:

exam(var)
    Examine any object's type, id, value

In [14]:
exam(5)

Type: <class 'int'>
ID: 140704086418344
Value: 5

In [15]:
a = 13
b=5

In [16]:
a + b

18

In [17]:
a / b

2.6

In [18]:
a//b

2

In [19]:
a%b

3

In [20]:
c = 5.0

In [21]:
b is c

False

In [22]:
exam(c)

Type: <class 'float'>
ID: 2480201574704
Value: 5.0

In [23]:
exam(b)

Type: <class 'int'>
ID: 140704086418344
Value: 5

In [24]:
b == c

True

In [25]:
b in (a,c)

True

b is in btw a nad c ie 5 and 13

In [26]:
5^3

6

5 xor 3

In [29]:
5 + 2 * 2 **6

133

strings

In [31]:
5 & 2

0

In [32]:
5 | 2

7

In [33]:
5 << 2

20

In [34]:
bool(4)

True

In [35]:
int(5.0)

5

In [36]:
float(7)

7.0

In [37]:
bool(0)

False

In [38]:
bool(-8)

True

In [39]:
str(5)

'5'

In [40]:
bool('')

False

In [43]:
x = 0
if x > 0:
    print('Positive')
elif x < 0:
    print("Negetive")
else:
    print('Zero')
print('Done')

Zero
Done

In [44]:
if x < 100:
    pass
elif x < 50:
    pass

In [45]:
x = 25
if x < 100:
    print("<100")
elif x < 50:
    print("<50")

<100

In [47]:
i = 0
while i <= 10:
    print(i ** 2)
    i += 1

0
1
4
9
16
25
36
49
64
81
100

In [48]:
for i in range(1,11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [65]:
fruits = ['apple','grapes','melon']

In [80]:
fruits.append('berry')

In [81]:
fruits

['apple', 'grapes', 'melon', 'cherry', 'berry']

In [78]:
fruits.count('berry')

0

In [68]:
fruits.extend({'cherry'})

In [70]:
my_fruits = tuple(fruits)

In [71]:
fruits.remove('berry')

In [73]:
fruits[0]

'apple'

In [74]:
fruits[-1]

'cherry'

In [75]:
fruits[0:1]

['apple']

In [82]:
fruits[:2] + fruits[3:]

['apple', 'grapes', 'cherry', 'berry']

In [83]:
fruits[:]

['apple', 'grapes', 'melon', 'cherry', 'berry']

In [84]:
fruits[4] = 'pineapple'

In [85]:
fruits

['apple', 'grapes', 'melon', 'cherry', 'pineapple']

here pineapple replaced berry. ie assigning can't be done in strings.

In [86]:
name = 'Anitha'
name.swapcase()

'aNITHA'

#SET

In [87]:
ages = [21, 22, 24, 25]
ages_set = set(ages)

In [88]:
ages_set.add(23)

In [89]:
ages_set

{21, 22, 23, 24, 25}

In [90]:
ages1 = {26, 27}
ages2 = {27,28}
ages1.symmetric_difference(ages2)

{26, 28}

#DICTIONARY

In [97]:
employee = {'name':'Anitha', 'age':21, 'dates':[1,10,24]}

In [98]:
employee.items()

dict_items([('name', 'Anitha'), ('age', 21), ('dates', [1, 10, 24])])

In [99]:
employee.keys()

dict_keys(['name', 'age', 'dates'])

In [100]:
employee.values()

dict_values(['Anitha', 21, [1, 10, 24]])

In [103]:
hash((1,2))

-3550055125485641917

q1

In [104]:
a = 10
b = 12
print(a,b)

10 12

In [105]:
a , b = b , a

In [106]:
print(a,b)

12 10

q2

In [110]:
s = [1,2]
x= [1,2]
s == x

True

In [111]:
s is x

False

q3

In [116]:
binary_string = "1011"
decimal_number = int(binary_string, 2)
print(decimal_number)

11

In [117]:
x = 6
type(x)

int

In [118]:
x = 10
y = 2
x & y

2

In [119]:
x|y

10

In [120]:
x<<y

40

In [121]:
x>>y

2

In [123]:
x^y

8

q10

In [3]:
from collections import Counter
my_list = ['a','b','a','c']
print(Counter(my_list))

Counter({'a': 2, 'b': 1, 'c': 1})

In [9]:
s = "amms"
l = 0
r = len(s)-1
is_palin = True
while l<r:
    if s[l] != s[r]:
        is_palin = False
        break
    l += 1
    r -= 1
print(is_palin)

False

In [11]:
x =2
y = 9
print("x is large") if (x>y) else print("y is large")

y is large

In [14]:
a= 0
b=1
for i in range(10):
        print(a,end=" ")
        a,b = b,a+b

0 1 1 2 3 5 8 13 21 34

In [15]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Print the first 10 Fibonacci numbers
for i in range(10):
    print(fibonacci(i), end=" ")

0 1 1 2 3 5 8 13 21 34

In [17]:
k = [[1,2,3],[4,5,6]]
flattened_list = [item for sublist in k for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [18]:
my_list = [1,4,5,1,6,7,1]
uniq_list = []
for i in range(len(my_list)):
    if my_list[i] not in uniq_list:
        uniq_list.append(my_list[i])
print(uniq_list)

[1, 4, 5, 6, 7]

In [20]:
def rotate(lst,n):
    return lst[n:]+lst[:n]
c = [1, 5, 7, 9]
print(rotate(c,2))

[7, 9, 1, 5]

In [24]:
def indexno(d,val):
    for indx, tpl in enumerate(d):
        if tpl[1] == val:
            return indx
    return -1

d = {(1,'a'),(2,'b'),(3,'c')}
print(indexno(d,'b'))

2